h1 {
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 22px;
    z-index: 10;
    position: absolute;
    left: 75px;
    top: 75px;
}

@mixin header-background($color: var(--blue-primary), $clip-path: polygon(0 100%, 0 0, 50% 0, 12% 100%)) {
    width: 100vw;
    height: 100vh;
    background-color: $color;
    clip-path: $clip-path;

}

.header__skew {
    @include header-background;
}

.header__subskew {
    @include header-background(var(--blue-secondary), $clip-path: polygon(0 100%, 0 0, 0 11%, 35% 11%));
}

.header_sub_subskew {
    @include header-background(var(--yellow-secondary), $clip-path: polygon(0 80%, 0 0, 0 18%, 25% 18%));
}

.header_sub_sub_subskew {
	@include header-background(var(--blue-secondary), $clip-path: polygon(0 60%, 0 0, 0 25%, 15% 25%));
}

.header_sub_sub_sub_subskew {
	@include header-background(var(--blue-primary), $clip-path: polygon(0 43%, 0 0, 0 32%, 5% 32%));
}